#header
  %h1= @course.title
  %h2 Lesson #{@lesson.title}

#content
  .row{"data-equalizer" => ""}
    .small-5.medium-4.large-3.columns.administrator_side_bar.panel{"data-equalizer-watch" => ""}
      %h1 SideBar

    .small-7.medium-8.large-9.columns.panel{"data-equalizer-watch" => ""}

      .row.equalized-to#lesson_content
        .large-3.columns.content.panel
          %h5 Content
          %ol
            - @course.lessons.each do |lesson|
              %li= link_to "#{lesson.title}",
                admin_course_lesson_path(@course, lesson),
                class: "links"
              %hr

        .large-9.columns
          - @chapters.each do |chapter|
            %h4= chapter.chapter_name
            %p= chapter.body
