%h1= @quiz.question
%p Here it should be the the answers (the right one highlighted)

%h3 Response A
%p #{@quiz.response_A}

%h3 Response B
%p #{@quiz.response_B}

%h3 Response C
%p #{@quiz.response_C}

%h3 Response D
%p #{@quiz.response_D}

%h3 Rigth response
%p #{@quiz.right_answer}
