#header
  %h1= @course.title
  %h2 Lesson #{@lesson.title}

#content
  .row.equalized-to#lesson_content
    .large-3.columns.content.panel
      %h5 Content
      %ol
        - @course.lessons.each do |lesson|
          %li= link_to "#{lesson.title}",
            course_lesson_path(@course, lesson),
            class: "links"
          %hr

    .large-9.columns
      - @chapters.each do |chapter|
        %h4= chapter.chapter_name
        %p= chapter.body

      - if @lesson != @course.lessons.first
        = link_to "Previous lesson", course_lesson_path(@course, (@lesson.id - 1)), class:"small button"
      - if @lesson != @course.lessons.last
        = link_to "Next lesson", course_lesson_path(@course, (@lesson.id + 1) ), class:"small button"
      - else
        = link_to "Quiz", root_path, class:"small button"
