.row.text-center
  %h1 List of courses

/ control buttons
.row
  .small-12.columns.small-centered
    %fieldset.controls
      .row
        / filter buttons
        #controlsfilter.small-8.columns
          %label Filter:
          %button.filter.tiny.round.active{"data-filter" => "all"} All
          %button.filter.tiny.round{"data-filter" => ".management"} Management
          %button.filter.tiny.round{"data-filter" => ".sixsigma"} Six Sigma
          %button.filter.tiny.round{"data-filter" => ".improvement"} Improvement
        / layout buttons

      .row
        .small-12.columns.small-centered
          %br/
          = form_tag(courses_path, method: "get") do
            .small-8.columns
              = text_field_tag :search, params[:search], placeholder: "Search Courses"
            .small-4.columns
              = submit_tag "Search", name: nil, class: "button small"
.row
  / container for courses
  .small-12.columns.small-centered
    %ul
      - @courses.each do |course|
        .large-6.columns#Container
          %li= link_to course.title, course_path(course)
          %hr

.row
  .small-12.columns.small-centered
    = paginate @courses
